 *{
        margin: auto;
        padding: 5px;
        box-sizing: border-box;
  }

  html, body {
        margin-left: 10px; 
        text-align: left;
        height: auto;
        background: white;
  }

  header {
        background: orange;
        color: white;
}

  table {
        margin: auto;
        float: center;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        text-decoration-color: darkgray;
        border-collapse: collapse;
        width: 100%;
}

    th, td {
      text-align: left;
      padding: 8px;
}

    tr:nth-child(even) {background-color: #f2f2f2;}
}  

button {
  background-color: #f2f2f2;  /* 4CAF50 Green */ 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  float: auto;
}

button:hover {
  background-color: darkgray;
  text-decoration-color: silver;
}

#dellButton:hover {
  background-color: #ff6347;
}

